<div class="container login-container">
  <h2 class="text-center">Iniciar Sesión</h2>
  <form class="form-group">
    <input
      class="form-control mb-2"
      type="email"
      placeholder="Correo electrónico"
    />
    <input class="form-control mb-2" type="password" placeholder="Contraseña" />
    <button class="btn btn-primary w-100">Iniciar Sesión</button>
  </form>
  <button class="btn btn-danger w-100 mt-2">Iniciar sesión con Google</button
  ><!--(click)="loginWithGoogle()"-->
</div>
