<section>
  <div>
    <img src="/business-5475660_1920.jpg" />
  </div>
  <div class="hero-section text-center">
    <h1>Bienvenido a nuestra WebApp Financiera</h1>
  </div>

  <div class="description-section">
    <h3>Conoce tu estado financiero</h3>
    <p class="description-text">
      ¿Eres una Startup y sabes como definir exactamente tu producto/servicio,
      conoces cada detalle de tu negocio, pero se te dan mal los cálculos
      financieros? Aquí podrás encontrar una forma para manejar y conocer tu
      estado financiero de la forma más sencilla.
    </p>
    <div class="button-test-prove">
      <button class="btn btn-primary">Test</button>
    </div>
  </div>
  <br />
  <div class="pricing-section">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card Free</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Price: Free</small>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card Standar</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Price: 5€</small>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card Premium</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Price: 10€</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
