<section>
  <div>
    <img src="/business-5475660_1920.jpg" class="w-100" />
  </div>
  <div class="hero-section text-center mt-2 p-3">
    <h1>Bienvenido a nuestra WebApp Financiera</h1>
  </div>
  <div class="description-text text-center">
    <p>
      Si eres una startup con una idea clara de tu producto o servicio y conoces
      cada detalle de tu negocio, pero la gestión financiera te resulta un
      desafío, has llegado al lugar indicado. Nuestra plataforma te ofrece una
      solución intuitiva y sencilla para administrar y comprender tu estado
      financiero sin complicaciones. Con herramientas diseñadas para facilitar
      el análisis de ingresos, gastos y rentabilidad, podrás tomar decisiones
      informadas para el crecimiento de tu empresa. No dejes que los números
      sean un obstáculo, empieza hoy a optimizar la salud financiera de tu
      negocio con nuestra WebApp.
    </p>
  </div>
  <hr />
  <div class="description-section">
    <br />
    <h4>Conoce tu estado financiero</h4>
    <p>
      Comprueba y haz cálculos sobre tu estado financiero completamente GRATIS
      accediendo al apartado de test.
    </p>
    <div class="button-financestatetest-prove">
      <button
        class="btn btn-primary"
        routerLink="'/financestatetest'"
        routerLinkActive="router-link-active"
      >
        Test
      </button>
    </div>
    <small>**NOTA**: Los datos insertados no se guardarán.</small>
  </div>
  <hr />
  <br />
  <!--Cards con el precio de cada tipo de cuenta-->
  <planning-component></planning-component>
  <!--Descripcion sobre cada tipo de cuenta personal (TABLA)-->
  <tableplanning-component></tableplanning-component>
</section>
