<section>
  <div class="hero-section text-center">
    <h1>Bienvenido a nuestra WebApp Financiera</h1>
  </div>
  <div>
    <img src="" />
  </div>

  <div class="description-section">
    <p>Conoce tu estado financiero</p>
    <p>
      Eres una Startup y sabes como definir exactamente tu producto/servicio,
      conoces cada detalle de tu negocio, pero se te dan mal los cálculos
      financieros? Aquí podrás encontrar una forma para manejar y conocer tu
      estado financiero de la forma más sencilla.
    </p>
    <button class="btn btn-primary">Iniciar Prueba</button>
  </div>

  <div class="pricing-section">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h3 class="card-title">TIER</h3>
        <p class="card-text">Description</p>
        <p>Precio: X €</p>
      </div>
    </div>
  </div>
</section>
