section {
  margin-top: 5em;
}

img {
  height: 75%;
}

hr {
  width: 50%;
  margin-left: 25%;
}

small {
  font-size: 10px;
  color: gray;
}

.description-text {
  margin-right: 25%;
  margin-left: 25%;
}

.description-section {
  margin-right: 25%;
  margin-left: 25%;
}

.description-section > h4 {
  color: rgb(33, 124, 209);
}

.button-financestatetest-prove {
  margin-left: 50%;
  margin-right: 50%;
}
