<div class="pricing-section">
  <h4>Planes de contratación</h4>
  <p>
    Adquiriendo un plan de contratación y creando una cuenta con nosotros,
    obtendrás acceso a un dashboard personal donde podrás gestionar tu estado
    financiero de manera eficiente. Nuestra plataforma te permite registrar y
    analizar ingresos, gastos y beneficios en tiempo real, ofreciéndote una
    visión clara de la evolución de tu negocio. Además, contarás con
    herramientas avanzadas para la generación de informes personalizados y
    gráficos detallados que te ayudarán a tomar decisiones estratégicas. Si
    eliges nuestro plan Premium, disfrutarás de soporte prioritario y acceso
    exclusivo a reportes financieros avanzados. ¡Empieza hoy mismo a optimizar
    la gestión de tus finanzas con nosotros!
  </p>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Plan Estándar</h5>
        <hr />
        <p class="card-text">
          Accede a las herramientas esenciales para gestionar tus finanzas de
          forma sencilla y eficiente.
        </p>
        <h6>Precio</h6>
        <p class="card-text">5€/mes</p>
        <button class="btn btn-primary">Adquirir</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Plan Premium</h5>
        <hr />
        <p class="card-text">
          Disfruta de funciones avanzadas, informes detallados y soporte
          prioritario para un control total.
        </p>
        <h6>Precio</h6>
        <p class="card-text">10€/mes</p>
        <button class="btn btn-primary">Adquirir</button>
      </div>
    </div>
  </div>
</div>
